/**
 * DisplayAnything - A Silverstripe file gallery
 * display.css -  layout for the gallery, editing and file upload handler
 */

/* - UPLOADER - */

.file-uploader {
	background-color : transparent;
	padding : 0;
	position : relative;
	top : 0;
	left: 0;
}

.file-uploader ul li {
	display : list-item;
	list-style-type : disc;
}

form .file-uploader .field .middleColumn {
	width : auto;
	padding : 5px;
	margin : 0;
}

form #dummy_field {
	display : none;
}

form .file-uploader .field .left {
	float : none;
	width : auto;
}

form .file-uploader .field label.left,
form .file-uploader .field label strong,
form .file-uploader .field label a,
form .file-uploader .field label span {
	font-size : 12px;
}

form .file-uploader .field label.left {
	text-shadow : none;
	font-weight : normal;
	margin : 0;
	padding : 0;
}

form .file-uploader .field h4 {
	margin : 0;
}

form .file-uploader .field .help {
	padding : 0;
	clear : both;
	font-style : normal;
	width : 390px;
	position : absolute;
	left : 270px;
	top : 0;
}

form .file-uploader .field .help-under {
	padding-top : 12px;
	position :static;
}

form .file-uploader .field .inner {
	padding : 3px 10px 10px 10px;
}

form .file-uploader .field .inner li,
form .file-uploader .field .inner li strong {
	font-size : 12px;
}

form .file-uploader .help h4 {
	margin : 0;
}

.file-uploader .sortlink {
	display : none;
}

.file-uploader .tools {
	padding : 7px;
	text-align : left;
	background-color : #e9e9e9;
}

.file-uploader .tools span,
.file-uploader .tools a {
	display : inline-block;
	vertical-align : middle;
	width : 16px;
	height : 16px;
	margin : 0 3px 0 0;
}

.file-uploader-list .file-uploader-item .tools .sortlink {
	float : right;
}

.file-uploader-list .file-uploader-item .tools img {
	display : inline;
	vertical-align : middle;
}

.file-uploader a.reload {
	padding : 3px 20px 3px 0px;
	vertical-align : top;
}

.file-uploader a.reload.loading {
	background : url('../javascript/file-uploader/client/loading.gif') no-repeat right 50%;
}

.file-uploader .ss-gridfield .help {
	margin : 0;
}

.file-uploader .help ul {
	margin : 2px 2px 2px 22px;
	font-size : 13px;
}

.file-uploader .qq-upload-button {
	width : auto;
	clear : both;
	font-size : 16px;
	text-align: center;
	cursor: default;
	padding: 50px 16px;
	color : #444;
	font-weight : bold;
	/**
	 * taken from UploadField.css
	 */
	-moz-box-shadow: #9a9a9a 0 0 3px 3px inset;
	-webkit-box-shadow: #9a9a9a 0 0 3px 3px inset;
	-o-box-shadow: #9a9a9a 0 0 3px 3px inset;
	box-shadow: #9a9a9a 0 0 3px 3px inset;
	border: 2px dashed gray;
	background: rgba(201, 205, 206, 0.8);
}

.file-uploader .uploader-upload-box {
	float : left;
	width : 260px;
	margin : 0 0 8px 0px;
	padding : 0 0 7px 0;
}

.file-uploader .qq-upload-drop-area {
	min-height: 70px;
	height : 120px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: #999;
	text-align: center;
	font-size : 18px;
	font-weight : bold;
	text-transform : uppercase;
}

.file-uploader .qq-upload-drop-area span {
	font-size : 12px;
	padding : 5px;
}

.file-uploader .uploader-upload-box .qq-uploader {
	padding : 0px;
	width : auto;
}

.file-uploader .uploader-upload-box .qq-upload-list {
	margin : 0;
	padding : 5px 5px 5px 20px;
	font-size : 12px;
	display : none;
	background-color : #fff;
}

.file-uploader .uploader-upload-box .progress {
	
}

.file-uploader .break {
	clear : both;
}

.file-uploader-list {
	margin : 0;
	padding : 0;
	clear : both;
}

.file-uploader-list .file-uploader-item {
	width : 122px;
	border : none;
	background-color : #fff;
	padding : 1px;
	overflow : hidden;
	text-align : center;
	display : inline-block;
	vertical-align :top;
	cursor : pointer;
	margin : 0 4px 4px 0;
	-moz-box-shadow: 2px 2px 5px rgba(123,123,123,0.3);
	-webkit-box-shadow: 2px 2px 5px rgba(123,123,123,0.3);
	box-shadow: 1px 1px 2px rgba(123,123,123,0.5);
}

.file-uploader-list .file-uploader-item p.nada {
	padding : 16px;
}

.file-uploader-list .file-uploader-item a.editlink {
	display : block;
}

.file-uploader-list .file-uploader-item .thumb {
	height : 120px;
	overflow : hidden;
}

.file-uploader-list .file-uploader-item .caption p {
	font-size : 11px;
}

.file-uploader-list .file-uploader-item img {
	display : block;
	margin : 0 auto;
}

.display_anything h5 {
	padding : 0;
}

.display_anything_migrate ul {
	margin : 12px 0 12px 22px;
}

.display_anything_migrate li {
	font-size : 12px;
	list-style-type : disc;
}

/* - EDITING - */
#right form#Form_EditForm .upload_anything_field .error,
#right form#Form_EditForm .upload_anything_field .message {
	margin : 0 0 1em 0;
	width : auto;
}
#right form#Form_EditForm .upload_anything_field .error p,
#right form#Form_EditForm .upload_anything_field .message p {
	margin : 0;
	font-weight : normal;
}

form#Form_EditForm .upload_anything_field .field_content {
	width : 100%;
	margin : 0 0 12px 0;
	padding : 0;
}

form#Form_EditForm .upload_anything_field .field_content fieldset {
	border : 1px solid #ccc;
	padding : 8px;
}

form#Form_EditForm .upload_anything_field .field_content fieldset ul {
	margin-left : 22px;
}

form#Form_EditForm .upload_anything_field .field_content fieldset ul li {
	display : list-item;
	font-size : 12px;
	list-style-type : square;
}

form#Form_EditForm .upload_anything_field .field_content fieldset .message {
	padding : 8px 12px;
	margin-top : 12px;
}
form#Form_EditForm .upload_anything_field .field_content fieldset .message p {
	margin : 0;
}

table.file_meta {
	width : 100%;
	border : 1px solid #ccc;
	border-collapse : collapse;
	background-color : #fff;
}

table.file_meta tr.replace td.field .middleColumn {
	width : auto;
}

table.file_meta th {
	text-align : right;
	width : 120px;
	background-color : #e9e9e9;
	vertical-align : top;
}
table.file_meta th,
table.file_meta td {
	border : 1px solid #ccc;
	padding : 6px 9px;
}

table.file_meta td .f {
	-moz-box-shadow: 2px 2px 5px rgba(123,123,123,0.3);
	-webkit-box-shadow: 2px 2px 5px rgba(123,123,123,0.3);
	box-shadow: 1px 1px 2px rgba(123,123,123,0.5);
	border : 1px solid #ccc;
	padding : 8px 8px 31px 8px;
	background-color : #fff;
	float : left;
}
table.file_meta td .f img {
	border : 1px solid #ccc;
	display : block;
}

.display_anything_usage select {
	width : 280px;
}
